name: Publish to npm
on:
  release:
    types: [created]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run docker-compose for FalkorDB standalone instance
        uses: hoverkraft-tech/compose-action@v2.4.1
        with:
          compose-file: ./docker/standalone-compose.yml

      - name: Test if FalkorDB standalone instance is running
        run: |
          docker ps -a
          docker logs falkordb-standalone
          docker exec falkordb-standalone redis-cli ping || { echo "FalkorDB standalone instance is not running"; exit 1; }

      - name: Add entries to the host file to correctly resolve service names
        run: |
          sudo echo "127.0.0.1 falkordb-standalone" | sudo tee -a /etc/hosts

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm ci
      - run: npm run lint
      - run: npm run build --if-present

      - name: Run tests
        run: npx jest
        env:
          FALKORDB_HOST: localhost
          FALKORDB_PORT: 6379

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build --if-present
      - run: npm publish
